*{
    margin: 0;
}

.hide{
    display: none;
}

.flex-contain{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url("/assets/images/bg.jpg");

}


/* navigation bar */
.nav-bar{
    margin: 25px;
}

/* .button{

} */

i{
    font-size: 35px;
    padding: 0.5em;
    cursor: pointer;
    color: rgba(240, 255, 255, 0.692);
}

i:hover{
    color: #ffffff;
}





.info{
    color: #ffffff;
    margin-top: 45px;
}

footer{
    background-color: #ffffff;
}

/* images */
.hero-img{
    height: 100%;
    width: 220px;
}


/* sections */


/* home Section */

.home-sec{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
    height: 260px;
    width: 650px;
}

#home-text{
    display: flex;
    flex-direction: column;
    padding: 2em;
}

strong{
    font-size: 42px;
    color: #363636;

}

small{
    font-size: 20px;
    color: #777777;
}



/* work section */

.work-sec{
    position:  relative;
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    height: 500px;
    width: 546px;

}

.images{
    position: absolute;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: auto auto auto; */
    top: 120px;
}

.image{
    width: 150px;
    padding: 1em;
}

#work-text{
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex-wrap: wrap;
}

#work-text strong{
    font-size: 32px;
}
